{% extends "layout.html" %} {% block title %}add new card{% endblock %} {% block head %} {{ super() }}
{% endblock %}

{% block content1 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">Simple Kanban</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/index/{{uid}}">Dashboard</a>
                  <a class="nav-link active" aria-current="page" href="/summary/{{uid}}">Summary</a>
                 <!-- <a class="nav-link active" href="{{url_for('register')}}">Signup</a>-->
                </div>
              </div>
            </div>
          </nav>

          {% block message %}{{super()}}{% endblock %}          
{% block content %}
<div class="container">
<form method = 'post'>
    <label for="list"class="col-sm-2 col-form-label">Select list: </label>
    <select name="list" id="list">
        {% for n in get_list %}
        <option value='{{n['lid']}}' selected>{{n['list_name']}}</option>
        {% endfor %}
    </select>
    <div class="mb-3">
        <label  class="col-sm-2 col-form-label">Card name</label>
        <input type="text" class="form-control" name = "Title" placeholder="card name">
    </div>
    <div class="mb-3">
        <label  class="col-sm-2 col-form-label">Content</label>
        <input type="text" name = "Content"class="form-control" rows="3"/>
    </div>
        <label for="date" class="col-sm-2 col-form-label">Date</label>
       <div class="col-5"> 
        <div class="input-group date" data-provide="datepicker">
    <input type="date" name = "Deadline" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
    </div>
</div>
<br>
<!--
    <div class="col-5">
      <div class="input-group date" id="datepicker">
        <input type="text" class="form-control" id="date"/>
        <span class="input-group-append">
          <span class="input-group-text bg-light d-block">
            <i class="fa fa-calendar"></i>
          </span>
        </span>
      </div>
    </div> -->

    <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="Flag" value="on">
  <input class="form-check-input" type="hidden" id="flexSwitchCheckChecked" name="Flag" value="off">
  <label class="form-check-label" for="flexSwitchCheckChecked">Mark as complete</label>
</div>

    <div class="col-5">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}
{% endblock %}
