{% extends "layout.html" %} {% block title %}dashboard{% endblock %} {% block head %} {{ super() }}

{% endblock %}
{% block content1 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">Simple Kanban</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/summary/{{uid}}">Summary</a>
                  <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/login">Logout</a>
  </li></ul>
                </div>
              </div>
            </div>
          </nav>
          {% block message %}{{super()}}{% endblock %}          
{% block content %}
<p><b style="color:tomato">Hi, {{name}} welcome to kanban app.</b></p>
<div class="row row-cols-1 row-cols-md-3 g-4">
{% for key in get_cards.keys() %}
    <div class="card-deck">

	<div class="dropdown">
	  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded= "true" >
		{{key}}
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="/{{uid}}/{{key}}/editlist">Edit</a></li>
		<li><a class="dropdown-item" href="/{{uid}}/{{key}}/deletelist">Delete</a></li>
	  </ul>
	</div>

  
        {% for val in get_cards[key] %}
        
	<div class="card border-warning mb-3" style="max-width: 18rem;">
	  	<div class="card-header">       
	  	   <div class="dropdown">
                	<button class="btn btn-warning dropdown-toggle" type="button"  data-bs-toggle="dropdown" aria-expanded="true" style="--bs-btn-padding-x: 5rem;">
                    	{{val['card_title']}}
                	</button>
		        <ul class="dropdown-menu">
		          <li><a class="dropdown-item" href="/{{val['cid']}}/{{uid}}/updatecard">EDIT</a></li>
		          <li><a class="dropdown-item" href="/{{val['cid']}}/{{uid}}/deletecard">DELETE</a></li>  
		        </ul>
            	    </div>
           	 </div>
  		<div class="card-body"> 
  		{% if val['flag'] == 'off' %}
                <span style="font-size: small; font-weight: 600; color: red;">Pending</span>
                 {% else %}
                <span style="line-height: 0.01em; font-size: small; font-weight: 600; color: green;">Completed</span>
                {% endif %}
  		<!--{% if val['flag'] == on %}
	  	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
</svg>{% endif %}-->
		    <h6 class="card-title">{{val['content']}}</h6>
		    <p class="row_class"><small class="text-muted">Deadline : {{val['deadline']}}</small></p>

  		</div>
  

	</div>
         {% endfor %}
    
    <a href="/{{uid}}/{{key}}/newcard">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg></a>       
  
  </div>
 {% endfor %}
  <a href="/{{uid}}/create_list">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
</svg> </a>
</div>
{% endblock %}{% endblock %}      
