{% extends "layout.html" %} {% block title %}edit list{% endblock %} {% block head %} {{ super() }}
{% endblock %}
{% block content1 %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand">Simple Kanban</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="/index/{{y.user_id}}">Dashboard</a>
                  <a class="nav-link active" aria-current="page" href="/summary/{{y.user_id}}">Summary</a>
                 <!-- <a class="nav-link active" href="{{url_for('register')}}">Signup</a>-->
                </div>
              </div>
            </div>
          </nav>
          {% block message %}{{super()}}{% endblock %}          
{% block content %}

<h1>Update List</h1>
<div class="container">
<form action="/{{y.user_id}}/{{y.list_name}}/editlist" method="POST" id="update-list-form">
    <div>
        <label class="col-sm-2 col-form-label">List Name:</label>
        <input type="text" name="l_name" value="{{y.list_name}}" required /><br><br><br><br>
    </div>
    <div>
        <label class = "col-sm-2 col-form-label">Description:</label>
        <input type="text" name="desc" value="{{y.description}}" required /><br><br><br><br>
    </div>
    <div class="col-5">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form></div>
{% endblock %}{% endblock %}
